.animeCard_container {
    margin:10px;
    
}

.animeCard_paper {
display:flex;
align-items: center;
align-content:center;
justify-content: center;
flex-direction: column;
padding: 10px;
background-color: #FFCCCC !important;
}